header {
    background-color: #45a1ff;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a, nav ul li form button {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li form button:hover, nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.container {
    margin-top: 80px; /* To avoid content being hidden behind the fixed header */
}

.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}